{{> header }}
<br>
<h1 style="font-family: monospace; font-size: 1.2em; text-align: center">----- Home Page -----</h1>
<div class="container" style="font-family: monospace">

  <a href="/nasa">
    <button>nasa</button>
  </a>
  <a href="/deckofcardsapi/3">
    <button>card</button>
  </a>
</div>